﻿@model Naztec.Web.Areas.Admin.ViewModels.Menu.MenuManageVM

@{
    ViewBag.Title = "Menu Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />

@section PageHeader{
    <section class="content-header">
        <h1>
            Menu Manager
            <small>Listing of all your application menu.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">Menu</li>
        </ol>
    </section>
}

<div id="menuManagerApp" v-cloak>

    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box box-primary">
                <div class="box-header with-border bg-info">
                    <h3 class="box-title padding-xs-top text-bold">Menu</h3>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" v-on:click="createNewRootMenu"><i class="fa fa-plus"></i> &nbsp; New Root Menu</button>
                    </div>
                </div>
                <div class="box-body" style="min-height: 70vh;">
                    <menu-wrapper-component v-for="(menuItem, index) in sortedMenu"
                                            v-bind:menu="menuItem"
                                            v-bind:children="menuItem.children"
                                            v-bind:depth="depth"
                                            v-bind:index="index"
                                            v-bind:selected-menu-id="selectedMenuId"
                                            v-bind:sibling-count="sortedMenu.length"
                                            v-bind:key="menuItem.Id">
                    </menu-wrapper-component>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position: absolute; bottom: 50px; right: 25px;">
    <button class="btn btn-primary pull-right" title="Generate SQL"><i class="fa fa-database"></i> &nbsp; Generate SQL</button>
</div>

<template id="menu-wrapper-template">
    <div style="position: relative">
        <div class="box box-default ecb-menu-wrapper"
             v-bind:style="{ 'margin-left': (depth * 20) + 'px' }"
             v-bind:class="{ selected: amISelected }">

            <div class="ecb-menu-header box-header" v-on:click="selectMenu()" v-text="menu.Text"></div>

            <div class="ecb-menu-body box-body" v-bind:class="{ hidden: !amISelected }">
                <form role="form">
                    <div class="row">
                        <div class="col col-xs-12 col-lg-4">
                            <div class="form-group" v-bind:class="{ 'form-group--error': $v.menu.Text.$error }">
                                <label style="padding-left: 13px;" class="form__label">Navigation Label</label>
                                <div>
                                    <p class="form-control-static" v-text="menu.Text" v-bind:class="{hidden: isUnderEdit }"></p>
                                    <input type="text" class="form-control form__input" v-bind:class="{hidden: !isUnderEdit }" placeholder="Enter the menu text" v-model.trim="menu.Text" v-on:input="$v.menu.Text.$touch()" />
                                </div>
                                <span class="form-group__message" v-if="!$v.menu.Text.required">Field is required</span>
                                <span class="form-group__message" v-if="!$v.menu.Text.minLength">Name must have at least {{$v.menu.Text.$params.minLength.min}} letters.</span>
                            </div>
                        </div>
                        <div class="col col-xs-12 col-lg-4">
                            <label style="padding-left: 13px;">URL Slug</label>
                            <div>
                                <p class="form-control-static" v-text="menu.Slug" v-bind:class="{hidden: isUnderEdit }"></p>
                                <input type="text" class="form-control" v-bind:class="{hidden: !isUnderEdit }" placeholder="Enter the slug" v-model.trim="menu.Slug" />
                            </div>
                        </div>
                        <div class="col col-xs-12 col-lg-4">
                            <label style="padding-left: 13px;">CSS Class</label>
                            <div>
                                <p class="form-control-static" v-text="menu.CssClass" v-bind:class="{hidden: isUnderEdit }"></p>
                                <input type="text" class="form-control" v-bind:class="{hidden: !isUnderEdit }" placeholder="Enter the css class" v-model.trim="menu.CssClass" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-footer" v-bind:class="{ hidden: !amISelected }">
                <div class="pull-left" v-bind:class="{ hidden: isUnderEdit }">
                    <button class="btn btn-primary btn-xs" title="Create Menu Here" v-on:click="duplicateMenu()"><i class="fa fa-copy"></i>&nbsp; Duplicate</button>
                    <button class="btn btn-primary btn-xs" title="Create Menu Down" v-on:click="createMenuDown()"><i class="fa fa-level-down"></i>&nbsp; Create Menu Under</button>
                    <button class="btn btn-primary btn-xs" title="Move Up" v-on:click="moveUp()" v-bind:class="{disabled: index == 0 }"><i class="fa fa-arrow-up"></i>&nbsp; Move Up</button>
                    <button class="btn btn-primary btn-xs" title="Move Down" v-on:click="moveDown()" v-bind:class="{disabled: (index + 1) == siblingCount }"><i class="fa fa-arrow-down"></i>&nbsp; Move Down</button>
                    <button class="btn btn-danger btn-xs" title="Delete Menu" v-on:click="deleteMenu()"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </div>
                <div class="pull-right" v-bind:class="{ hidden: isUnderEdit }">
                    <button class="btn btn-primary btn-xs" title="Edit Menu" v-on:click="isUnderEdit = true"><i class="fa fa-pencil"></i>&nbsp; Edit</button>
                </div>
                <div class="pull-right" v-bind:class="{ hidden: !isUnderEdit }">
                    <button class="btn btn-primary btn-xs" v-on:click="saveMenu()"><i class="fa fa-save"></i>&nbsp; Save</button>
                    <button class="btn btn-primary btn-xs" v-on:click="isUnderEdit = false"><i class="fa fa-close"></i>&nbsp; Cancel</button>
                </div>
            </div>
        </div>
        <menu-wrapper-component v-for="(menuItem, innerIndex) in sortedChildren"
                                v-bind:menu="menuItem"
                                v-bind:children="menuItem.children"
                                v-bind:depth="depth + 1"
                                v-bind:index="innerIndex"
                                v-bind:selected-menu-id="selectedMenuId"
                                v-bind:sibling-count="sortedChildren.length"
                                v-bind:key="menuItem.Id"></menu-wrapper-component>
    </div>
</template>

@{ Html.RenderPartial("_ScriptGen", 2); }

@section scripts{
    <script src="~/Areas/Admin/Scripts/components/scriptGenerator.js"></script>
    <script src="~/Areas/Admin/Scripts/pages/menu.js"></script>
    <script>
        $(document).ready(function () {
            scriptGenerator({
                rootDir: '@Url.Content("~/Admin/")',
                moduleName: 'Menu Manager',
                moduleId: 2,
                modes: { sql: true, csharp: false, js: false }
            });
            menuManager({
                rootDir: '@Url.Content("~/Admin/")',
                menu: JSON.parse('@Model.Menu.ToJSON()')
            });
        })
    </script>
}