﻿@model Naztec.Web.ViewModels.BaseVM



@helper RenderMenu(IEnumerable<Naztec.Domain.Entities.AppMenuDTO> menuItems)
{
    foreach (var item in menuItems)
    {
        var rootClass = string.Empty;

        var childItems = Model.GetUserMenuByParentId(item.Id);

        if (childItems.Any())
        {
            <li class="treeview @(item.IsActiveParent ? "active menu-open" : string.Empty)">
                <a href="#">
                    <i class="@(item.ParentMenuId != null ? "fa fa-circle-o" : item.Class)"></i>
                    <span>@item.Text</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu" style="display: @(item.IsActiveParent ? "block" : "none");">
                    @RenderMenu(childItems)
                </ul>                    
            </li>
        }
        else
        {
            <li class="@(item.IsSelected ? "active" : string.Empty)">
                <a href="@item.Slug">
                    <i class="@(item.ParentMenuId != null ? "fa fa-circle-o" : item.Class)"></i>
                    <span>@item.Text</span>
                </a>
            </li>
        }
    }
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@Url.Action("Picture", "Image", new {area = "", imageId =  @Model.AppUserImageId != null ? Model.AppUserImageId.ToString() : "no-image" })" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@Model.SessionFullName</p>
                @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            @RenderMenu(Model.GetUserMenuByParentId(null))
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>
