@model Naztec.Web.ViewModels.BaseVM

<header class="main-header">

    <!-- Logo -->
    <a href="@Url.Action("Index", "Dashboard", new { Area = "" })" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>NT</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Naztec</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">               
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 0 notifications</li>
                        @*<li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                        page and may cause design problems
                                    </a>
                                </li>                              
                            </ul>
                        </li>*@
                        <li class="footer"><a href="@Url.Action("Index", "Notifications", new { Area = "" })">View all</a></li>
                    </ul>
                </li>
               
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@Url.Action("Picture", "Image", new {area = "", imageId = @Model.AppUserImageId != null ? Model.AppUserImageId.ToString() : "no-image" })" class="user-image" alt="User Image">
                        <span class="hidden-xs">@Model.SessionFullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@Url.Action("Picture", "Image", new {area = "", imageId =  @Model.AppUserImageId != null ? Model.AppUserImageId.ToString() : "no-image" })" class="img-circle" alt="User Image">

                            <p>
                            @Model.SessionFullName
                                @*<small>Member since Nov. 2012</small>*@
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("Manage","Profile", new { Area = "" })" class="btn btn-default btn-flat text-blue"><i class="fa fa-user"></i>&nbsp;Profile</a>
                               
                            </div>
                            <div class="pull-right">
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat text-red">
                                    <i class="fa fa-sign-out"></i>&nbsp;Sign out
                                </a>
                                @using (Html.BeginForm("LogOff", "Auth", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>

</header>
