@model Naztec.Web.ViewModels.BaseVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naztec - @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Content/css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition fixed sidebar-mini @Model.GetTheme()">
    <div class="wrapper">

        @{ Html.RenderPartial("_Header"); }

        @{ Html.RenderPartialIf("_Aside", Model, Request.IsAuthenticated); }
                
        <div class="content-wrapper">
            
            @RenderSection("PageHeader", false)
            
            <section class="content">

                @RenderBody()

            </section>
        </div>

        @{ Html.RenderPartial("_Footer");  }
    
       @{ Html.RenderPartial("_ControlSideBar");  }

    </div>

    <script src="~/Scripts/pages/dashboard.js"></script>

    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/charts")


    <script type="text/javascript">       
        naztec.init('@Url.Content("~/")');
        naztec.initSecured();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
