﻿@model ECBase.Web.Areas.Admin.ViewModels.Security.SecurityGroupManageVM

@{
    ViewBag.Title = "SecurityGroups";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />

@Styles.Render("~/Content/jquery.jsTree/css")

@section PageHeader{
    <section class="content-header">
        <h1>
            Security Groups
            <small>Listing of all your application Groups.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">Security Groups</li>
        </ol>
    </section>
}

<div id="securityGroupApp" v-cloak>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border bg-info">
                    <h3 class="box-title padding-xs-top text-bold">Groups</h3>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" v-on:click="showGroupModal"><i class="fa fa-plus"></i> &nbsp; New Group</button>
                    </div>
                </div>
                <div class="box-body" style="min-height: 70vh;">
                    <input type="text" class="form-control" placeholder="Search through Groups" v-model="searchCriteria" />
                    <div class="ecb-list" v-for="group in sortedGroups"
                         v-on:click="selectGroup(group)"
                         v-bind:class="{ selected: amISelected(group) }">
                        {{ group.SecurityGroupName }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">
            <group-right-component v-bind:group="selectedGroup" v-bind:rights="groupRights" ref="groupcomponent"></group-right-component>
        </div>
    </div>

    <div style="position: absolute; bottom: 50px; right: 25px;">
        <button class="btn btn-primary pull-right" title="Generate SQL"><i class="fa fa-database"></i> &nbsp; Generate SQL</button>
    </div>

    <div class="modal fade" id="newGroupModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">New Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col col-xs-12">
                                <input type="text" class="form-control" autofocus placeholder="Enter Group Name" v-model="newGroup.SecurityGroupName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col col-xs-12">
                                <input type="text" class="form-control" autofocus placeholder="Enter Group Description" v-model="newGroup.SecurityGroupDescription" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right margin-r-5" v-on:click="createGroup()">Create Group</button>
                </div>
            </div>
        </div>
    </div>
</div>


<template id="group-right-template">
    <div class="box box-primary" v-bind:class="{ hidden: !showComponent }">
        <div class="box-header bg-info with-border">
            <div v-show="!groupUnderEdit">
                <h3 class="box-title padding-xs-top text-bold">{{ group.SecurityGroupName }}</h3>
                <div class="dropdown ecb-action-dropdown lg-action pull-right">
                    <button class="dropdown-toggle ecb-action-dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li v-on:click="editGroup">Edit Group</li>
                        @*<li v-on:click="showDeleteGroupMaster">Delete Group</li>*@
                    </ul>
                </div>
            </div>
            <div v-show="groupUnderEdit" style="display: flex;">
                <div class="form-group">
                    <div class="col col-xs-12">
                        <input type="text" class="form-control margin-lr-5" v-model="group.SecurityGroupName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-xs-12">
                        <input type="text" class="form-control margin-lr-5" v-model="group.SecurityGroupDescription" />
                    </div>


                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm margin-lr-5" v-on:click="updateGroup(group)"><i class="fa fa-save"></i> &nbsp;Save</button>
                    <button class="btn btn-default btn-sm margin-lr-5" v-on:click="cancelUpdatingGroup()"><i class="fa fa-close"></i> &nbsp;Cancel</button>
                </div>
            </div>
        </div>

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Security Group Rights</a></li>
                <li><a href="#tab_2" data-toggle="tab">Security Group Users</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <span>Please select the rights that you want to grant to this security group and save changes.</span>

                    <div id="securityGroupRightsTreeView" style="border: 1px solid #cccccc; height: 500px; max-height: 500px; overflow-y: scroll;"></div>
                    <br />
                    <div class="row">
                        <div class="col col-md-12">
                            <div id="divbuttonSubmitGroupRights">
                                <input type="button" class="btn btn-primary" id="buttonSubmitGroupRights" v-on:click="saveGroupRights()" value="Save Rights" role="button">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="box-header with-border bg-info">
                                <h3 class="box-title padding-xs-top text-bold">Un Assigned Users</h3>
                                <div class="pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <input type="text" class="form-control" placeholder="Search Users" v-model="searchUnAssignedUser" />
                                <div class="ecb-list" v-for="user in sortedunAssignedUsers"
                                     v-on:click="moveToGroup(user)">
                                    {{ user.Value }}
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-arrow-right"></i>&nbsp; Move Right</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="box-header with-border bg-info">
                                <h3 class="box-title padding-xs-top text-bold">Group Users</h3>
                                <div class="pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <input type="text" class="form-control" placeholder="Search Users" v-model="searchGroupUser" />
                                <div class="ecb-list" v-for="user in sortedGroupUsers"
                                     v-on:click="removeFromGroup(user)">
                                    {{  user.Value }}
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</template>


@section scripts{
    @Scripts.Render("~/bundles/jsTree")
    <script src="~/Areas/Admin/Scripts/pages/securityGroups.js"></script>
    <script>
        $(document).ready(function () {
            securityGroups({
                rootDir: '@Url.Content("~/Admin/")',
                groups: JSON.parse('@Model.Groups.ToJSON()')
            });
        })

    </script>
}
