﻿@model Naztec.Web.Areas.Admin.ViewModels.Security.SecurityRightManageVM

@{
    ViewBag.Title = "Security Rights Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />

@section PageHeader{
    <section class="content-header">
        <h1>
            Rights
            <small>Listing of all your application rights.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">Security Rights</li>
        </ol>
    </section>
}


<div id="securityRightApp" v-cloak>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box box-primary">
                <div class="box-header with-border bg-info">
                    <h3 class="box-title padding-xs-top text-bold">Security Right</h3>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" v-on:click="createNewRight"><i class="fa fa-plus"></i> &nbsp; New Right</button>
                    </div>
                </div>
                <div class="box-body" style="min-height: 70vh;">
                    <rights-wrapper-component v-for="(rightItem, index) in sortedRights"
                                              v-bind:right="rightItem"
                                              v-bind:children="rightItem.children"
                                              v-bind:depth="depth"
                                              v-bind:index="index"
                                              v-bind:selected-right-id="selectedRightId"
                                              v-bind:sibling-count="sortedRights.length"
                                              v-bind:key="rightItem.Id">
                    </rights-wrapper-component>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="rights-wrapper-template">
    <div style="position: relative">
        <div class="box box-default ecb-right-wrapper"
             v-bind:style="{ 'margin-left': (depth * 20) + 'px' }"
             v-bind:class="{ selected: amISelected }">

            <div class="ecb-right-header box-header" v-on:click="selectRight()" v-text="right.SecurityRightDefinition"></div>

            <div class="ecb-right-body box-body" v-bind:class="{ hidden: !amISelected }">
                <form role="form">
                    <div class="row">
                        <div class="col col-xs-12 col-lg-4">
                            <div class="form-group" v-bind:class="{ 'form-group--error': $v.right.SecurityRightDefinition.$error }">
                                <label style="padding-left: 13px;" class="form__label">Navigation Label</label>
                                <div>
                                    <p class="form-control-static" v-text="right.SecurityRightDefinition" v-bind:class="{hidden: isUnderEdit }"></p>
                                    <input type="text" class="form-control form__input" v-bind:class="{hidden: !isUnderEdit }" placeholder="Enter Security Right Definition" v-model.trim="right.SecurityRightDefinition" v-on:input="$v.right.SecurityRightDefinition.$touch()" />
                                </div>
                                <span class="form-group__message" v-if="!$v.right.SecurityRightDefinition.required">Field is required</span>
                                <span class="form-group__message" v-if="!$v.right.SecurityRightDefinition.minLength">Name must have at least {{$v.right.SecurityRightDefinition.$params.minLength.min}} letters.</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-footer" v-bind:class="{ hidden: !amISelected  }">
                <div class="pull-left" v-bind:class="{ hidden: isUnderEdit }">
                    <button class="btn btn-primary btn-xs" title="Create Right Down" v-on:click="createRightDown()"><i class="fa fa-level-down"></i>&nbsp; Create Right Under</button>
                    <button class="btn btn-primary btn-xs" title="Move Up" v-on:click="moveUp()" v-bind:class="{disabled: index == 0 }"><i class="fa fa-arrow-up"></i>&nbsp; Move Up</button>
                    <button class="btn btn-primary btn-xs" title="Move Down" v-on:click="moveDown()" v-bind:class="{disabled: (index + 1) == siblingCount }"><i class="fa fa-arrow-down"></i>&nbsp; Move Down</button>
                    <button class="btn btn-danger btn-xs" title="Delete Menu" v-on:click="deleteRight()"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </div>
                <div class="pull-right" v-bind:class="{ hidden: isUnderEdit }">
                    <button class="btn btn-primary btn-xs" title="Edit Right" v-on:click="isUnderEdit = true"><i class="fa fa-pencil"></i>&nbsp; Edit</button>
                </div>
                <div class="pull-right" v-bind:class="{ hidden: !isUnderEdit }">
                    <button class="btn btn-primary btn-xs" v-on:click="saveRight()"><i class="fa fa-save"></i>&nbsp; Save</button>
                    <button class="btn btn-primary btn-xs" v-on:click="isUnderEdit = false"><i class="fa fa-close"></i>&nbsp; Cancel</button>
                </div>
            </div>
        </div>
        <rights-wrapper-component v-for="(rightItem, innerIndex) in sortedChildren"
                                  v-bind:right="rightItem"
                                  v-bind:children="rightItem.children"
                                  v-bind:depth="depth + 1"
                                  v-bind:index="innerIndex"
                                  v-bind:selected-right-id="selectedRightId"
                                  v-bind:sibling-count="sortedChildren.length"
                                  v-bind:key="rightItem.Id">
        </rights-wrapper-component>
    </div>
</template>

@{ Html.RenderPartial("_ScriptGen", 4); }

@section scripts{
    <script src="~/Areas/Admin/Scripts/components/scriptGenerator.js"></script>
    <script src="~/Areas/Admin/Scripts/pages/securityRights.js"></script>
    <script>
        $(document).ready(function () {
            scriptGenerator({
                rootDir: '@Url.Content("~/Admin/")',
                moduleName: 'Rights Manager',
                moduleId: 4,
                modes: { sql: true, csharp: true, js: true }
            });
            securityRights({
                rootDir: '@Url.Content("~/Admin/")',
                rights: JSON.parse('@Model.Rights.ToJSON()')
            });
        })
    </script>
}