﻿@model Naztec.Web.Areas.Admin.ViewModels.Security.SecurityRoleManageVM

@{
    ViewBag.Title = "Security Role Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />
@Styles.Render("~/Content/jquery.jsTree/css")

@section PageHeader{
    <section class="content-header">
        <h1>
            Roles
            <small>Listing of all your application Roles.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">Roles</li>
        </ol>
    </section>
}

<div id="securityRoleApp" v-cloak>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border bg-info">
                    <h3 class="box-title padding-xs-top text-bold">Roles</h3>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" v-on:click="showRoleModal"><i class="fa fa-plus"></i> &nbsp; New Role</button>
                    </div>
                </div>
                <div class="box-body" style="min-height: 70vh;">
                    <input type="text" class="form-control" placeholder="Search through Roles" v-model="searchCriteria" />
                    <div class="ecb-list" v-for="role in sortedRoles"
                         v-on:click="selectRole(role)"
                         v-bind:class="{ selected: amISelected(role) }">
                        {{ role.Name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">
            <role-right-component v-bind:role="selectedRole" v-bind:rights="roleRights" ref="rolecomponent"></role-right-component>
        </div>
    </div>

    <div style="position: absolute; bottom: 50px; right: 25px;">
        <button class="btn btn-primary pull-right" title="Generate SQL"><i class="fa fa-database"></i> &nbsp; Generate SQL</button>
    </div>

    <div class="modal fade" id="newRoleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">New Role</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" v-bind:class="{'form-group--error': $v.newRole.Name.$error}">
                            <div class="col col-xs-12">
                                <input type="text" class="form-control" autofocus placeholder="Enter Role Name" v-model="newRole.Name" v-on:input="$v.newRole.Name.$touch()" />
                                <span class="form-group__message" v-if="$v.newRole.Name.$error && !$v.newRole.Name.required">Role Name is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal" v-on:click="cancelCreateRole()">Cancel</button>
                    <button class="btn btn-primary pull-right margin-r-5" v-on:click="createRole()">Create Role</button>
                </div>
            </div>
        </div>
    </div>
</div>


<template id="role-right-template">
    <div class="box box-primary" v-bind:class="{ hidden: !showComponent }">
        <div class="box-header bg-info with-border">
            <div v-show="!roleUnderEdit">
                <h3 class="box-title padding-xs-top text-bold">{{ role.Name }}</h3>
                <div class="dropdown ecb-action-dropdown lg-action pull-right">
                    <button class="dropdown-toggle ecb-action-dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li v-on:click="editRole">Edit Role</li>
                    </ul>
                </div>
            </div>
            <div v-show="roleUnderEdit" style="display: flex;" v-bind:class="{'form-group--error': $v.role.Name.$error}">
                <input type="text" class="form-control margin-lr-5" v-model="role.Name" v-on:input="$v.role.Name.$touch()" />
                <span class="form-group__message" v-if="$v.role.Name.$error && !$v.role.Name.required">Role Name is required</span>
                <button class="btn btn-primary btn-sm margin-lr-5" v-on:click="updateRole(role)"><i class="fa fa-save"></i> &nbsp;Save</button>
                <button class="btn btn-default btn-sm margin-lr-5" v-on:click="cancelUpdatingRole()"><i class="fa fa-close"></i> &nbsp;Cancel</button>
            </div>
        </div>

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Role Menu</a></li>
                <li><a href="#tab_2" data-toggle="tab">Role Rights</a></li>
                <li><a href="#tab_3" data-toggle="tab">Role Users</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <p>Please select the menu that you want to grant access to this security Role and save changes.</p>

                    <div id="securityRoleMenuTreeView" style="border: 1px solid #cccccc; height: 500px; max-height: 500px; overflow-y: scroll;"></div>
                    <br />
                    <div class="row">
                        <div class="col col-md-12">
                            <div id="divbuttonSubmitRoleMenus">
                                <input type="button" class="btn btn-primary" id="buttonSubmitRoleMenu" v-on:click="saveRoleMenu()" value="Save Menu Associations" role="button">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <p>Please select the rights that you may want to grant to this security role and save changes.</p>

                    <div id="securityRoleRightsTreeView" style="border: 1px solid #cccccc; height: 500px; max-height: 500px; overflow-y: scroll;"></div>
                    <br />
                    <div class="row">
                        <div class="col col-md-12">
                            <div id="divbuttonSubmitRoleRights">
                                <input type="button" class="btn btn-primary" id="buttonSubmitRoleRights" v-on:click="saveRoleRights()" value="Save Right Associations" role="button">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_3">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="box box-primary box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Unassigned Users</h3>
                                </div>
                                <div class="box-body">
                                    <input type="search" class="form-control" placeholder="Search Users" v-model="searchUnAssignedUser" />
                                    <div style="height: 500px; max-height: 500px; overflow-y: scroll; overflow-x: hidden;">

                                        <div class="ecb-list" v-for="user in sortedunAssignedUsers">
                                            <span>{{ user.Value }}</span>
                                            <div class="pull-right">
                                                <button class="btn btn-primary btn-xs" v-on:click="moveToRole(user)"><i class="fa fa-arrow-right"></i>&nbsp; Assign User</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="box box-primary box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Assigned Users</h3>
                                </div>
                                <div class="box-body">
                                    <input type="search" class="form-control" placeholder="Search Users" v-model="searchRoleUser" />
                                    <div style="height: 500px; max-height: 500px; overflow-y: scroll; overflow-x: hidden;">
                                        <div class="ecb-list" v-for="user in sortedRoleUsers" v-on:click="removeFromRole(user)">
                                            {{  user.Value }}
                                            <div class="pull-right">
                                                <button class="btn btn-primary btn-xs"><i class="fa fa-trash"></i>&nbsp; Revoke User</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

@{ Html.RenderPartial("_ScriptGen", 5); }

@section scripts{

    @Scripts.Render("~/bundles/jsTree")

    <script src="~/Areas/Admin/Scripts/components/scriptGenerator.js"></script>
    <script src="~/Areas/Admin/Scripts/pages/securityRoles.js"></script>
    <script>
        $(document).ready(function () {
            scriptGenerator({
                rootDir: '@Url.Content("~/Admin/")',
                moduleName: 'Role Manager',
                moduleId: 5,
                modes: { sql: true, csharp: false, js: false }
            });
            securityRoles({
                rootDir: '@Url.Content("~/Admin/")',
                roles: JSON.parse('@Model.Roles.ToJSON()')
            });
        })

    </script>
}
