﻿@model Naztec.Web.Areas.Admin.ViewModels.User.UserManageVM

@{
    ViewBag.Title = "User Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />

@section PageHeader{
    <section class="content-header">
        <h1>
            User Manager
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">Users</li>
        </ol>
    </section>
}

<style>
    .ecb-user-list-manager { display: table; table-layout: fixed; width: 100%; padding-top: 10px; }
        .ecb-user-list-manager .ecb-user-list-wrapper { display: table-cell; height: inherit; vertical-align: top; }
        .ecb-user-list-manager .ecb-user-list-scroller { height: 650px; overflow-y: auto; overflow-x: hidden; padding-right: 0; border-left: none; }
        .ecb-user-list-manager .ecb-user-list { padding-right: 10px; }
        .ecb-user-list-manager .ecb-user-editor { width: 400px; display: table-cell; height: inherit; vertical-align: top; padding-left: 15px; }

        .ecb-user-list-manager .ecb-user-item { cursor: pointer; border-top-left-radius: 45px; border-bottom-left-radius: 45px; }
            .ecb-user-list-manager .ecb-user-item span.info-box-icon { text-align: unset; line-height: unset; font-size: unset; }
            .ecb-user-list-manager .ecb-user-item .ecb-user-roles, .ecb-user-list-manager .ecb-user-item .ecb-user-info { overflow: hidden; height: 22px; }
                .ecb-user-list-manager .ecb-user-item .ecb-user-roles span + span::before { content: '\2022'; padding-left: 4px; padding-right: 4px; }

    .ecb-list-entity-meta span + span::after { content: '\2022'; padding-left: 4px; padding-right: 4px; }
</style>

<div id="userManagerApp" v-cloak>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-sm" v-on:click="showNewUserModal"><i class="fa fa-plus"></i> &nbsp; New User</button>
            <div class="btn-group">
                <button class="btn btn-primary btn-sm"
                        v-bind:class="{ 'active': listView }" v-on:click="listView = true">
                    <i class="fa fa-fw fa-list"></i>&nbsp; List
                </button>
                <button class="btn btn-primary btn-sm"
                        v-bind:class="{ 'active': !listView }" v-on:click="listView = false">
                    <i class="fa fa-fw fa-th"></i>&nbsp; Grid
                </button>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="ecb-user-list-manager">
                <div class="ecb-user-list-wrapper">
                    <div class="ecb-user-list-scroller">
                        <div class="ecb-user-list">
                            <input type="search" class="form-control margin-bottom-10" placeholder="Search through Users" v-model.trim="searchCriteria" />

                            <div class="row" v-if="listView">
                                <div class="col-xs-12">
                                    <div class="ecb-list-entity-ribbon" v-for="user in sortedUsers" v-on:click="selectUser(user)" v-bind:class="{ 'bg-gray': amISelected(user) }" style="cursor: pointer;">
                                        <div class="ecb-list-entity-container">
                                            <div class="ecb-list-entity-main margin-left-10">
                                                <div class="ecb-list-entity-title" style="color: #797777; font-weight: 600; margin-bottom: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ user.FirstName + ' ' + user.LastName }}</div>                                                
                                            </div>
                                            <div class="ecb-list-entity-meta padding-right-10">
                                                <span v-for="role in user.Roles" class="text-muted">{{role}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-else>
                                <div class="col-md-6 col-lg-4" v-for="user in sortedUsers">
                                    <div class="info-box ecb-user-item"
                                         v-on:click="selectUser(user)"
                                         v-bind:class="{ 'bg-gray': amISelected(user) }">
                                        <span class="info-box-icon">
                                            <img v-bind:src="imageUrl(user)" alt="" class="@*img-responsive img-circle*@" />
                                        </span>
                                        <div class="info-box-content">
                                            <h4 style="color: #686464; font-weight: 600; margin-bottom: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ user.FirstName + ' ' + user.LastName }}</h4>
                                            <div class="ecb-user-roles">
                                                <span v-for="role in user.Roles" class="text-muted">{{role}}</span>
                                            </div>
                                            <div class="ecb-user-info">
                                                <span>{{ user.Email }} - {{ user.PhoneNumber }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ecb-user-editor" v-bind:class="{ hidden: !showUser }">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" v-bind:src="imageUrl(selectedUser)">
                            <h3 class="profile-username text-center">{{ selectedUser.FirstName + ' ' + selectedUser.LastName}}</h3>
                            <p class="text-muted text-center">{{ selectedUser.PhoneNumber }}</p>
                        </div>
                        <div class="box-body padding-sm-top">
                            <div class="row" v-bind:class="{ hidden: isUnderEdit }">
                                <div class="col-xs-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-xs" v-on:click="editUser()">
                                            <i class="fa fa-pencil"></i>&nbsp; Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-bind:class="{ hidden: !isUnderEdit}">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <div class="form-group" v-bind:class="{'form-group--error': $v.selectedUser.FirstName.$error}">
                                            <label class="col-md-4 control-label form__label">First Name</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form__input" v-model.trim="selectedUser.FirstName" v-on:input="$v.selectedUser.FirstName.$touch()" />
                                                <span class="form-group__message" v-if="!$v.selectedUser.FirstName.required">First Name is required</span>
                                            </div>
                                        </div>
                                        <div class="form-group" v-bind:class="{'form-group--error': $v.selectedUser.LastName.$error}">
                                            <label class="col-md-4 control-label form__label">Last Name</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form__input" v-model.trim="selectedUser.LastName" v-on:input="$v.selectedUser.LastName.$touch()" />
                                                <span class="form-group__message" v-if="!$v.selectedUser.LastName.required">Last Name is required</span>
                                            </div>
                                        </div>

                                        <div class="form-group" v-bind:class="{'form-group--error': $v.selectedUser.PhoneNumber.$error}">
                                            <label class="col-md-4 control-label form__label">Phone Number</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form__input" v-model.trim="selectedUser.PhoneNumber" v-on:input="$v.selectedUser.PhoneNumber.$touch()" />
                                                <span class="form-group__message" v-if="!$v.selectedUser.PhoneNumber.required">Phone Number is required</span>
                                                <span class="form-group__message" v-if="!$v.selectedUser.PhoneNumber.numeric">Only numbers are allowed</span>
                                                <span class="form-group__message" v-if="!$v.selectedUser.PhoneNumber.maxLength">Maximum length is 10</span>
                                            </div>
                                        </div>
                                        <div class="form-group" v-bind:class="{'form-group--error': $v.selectedUser.Timezone.$error}">
                                            <label class="col-md-4 control-label">Timezone</label>
                                            <div class="col-md-8">
                                                <select2 v-bind:options="timezones" v-model="selectedUser.Timezone" v-bind:place-holder="'Timezone'"></select2>
                                                <span class="form-group__message" v-if="$v.selectedUser.Timezone.$error && !$v.selectedUser.Timezone.required">Timezone is required</span>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-xs" v-on:click="updateUser()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        <button class="btn btn-primary btn-xs" v-on:click="cancelUpdateUser()"><i class="fa fa-close"></i>&nbsp; Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">

                            <hr />
                            <div class="text-center">
                                <div class="label label-default margin-5" v-for="role in selectedUser.Roles">{{role}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Create New User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" v-bind:class="{'form-group--error': $v.newUser.FirstName.$error}">
                            <label class="col-md-4 control-label">First Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" autofocus placeholder="Enter First Name" v-model.trim="newUser.FirstName" v-on:input="$v.newUser.FirstName.$touch()" />
                                <span class="form-group__message" v-if="$v.newUser.FirstName.$error && !$v.newUser.FirstName.required">First Name is required</span>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{'form-group--error': $v.newUser.LastName.$error}">
                            <label class="col-md-4 control-label">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter Last Name" v-model.trim="newUser.LastName" v-on:input="$v.newUser.LastName.$touch()" />
                                <span class="form-group__message" v-if="$v.newUser.LastName.$error && !$v.newUser.LastName.required">Last Name is required</span>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{'form-group--error': $v.newUser.PhoneNumber.$error}">
                            <label class="col-md-4 control-label">Phone Number</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter Phone Number" v-model.trim="newUser.PhoneNumber" v-on:input="$v.newUser.PhoneNumber.$touch()" />
                                <span class="form-group__message" v-if="$v.newUser.PhoneNumber.$error && !$v.newUser.PhoneNumber.required">Phone Number is required</span>
                                <span class="form-group__message" v-if="!$v.newUser.PhoneNumber.numeric">Only numbers are allowed</span>
                                <span class="form-group__message" v-if="!$v.newUser.PhoneNumber.maxLength">Phone number can only be 10 digits long</span>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{'form-group--error': $v.newUser.Email.$error}">
                            <label class="col-md-4 control-label">Email Address</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter Email" v-model.trim="newUser.Email" v-on:input="$v.newUser.Email.$touch()" />
                                <span class="form-group__message" v-if="$v.newUser.Email.$error && !$v.newUser.Email.required">Email Address is required</span>
                                <span class="form-group__message" v-if="!$v.newUser.Email.email">Email format is not valid</span>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{'form-group--error': $v.newUser.Timezone.$error}">
                            <label class="col-md-4 control-label">Timezone</label>
                            <div class="col-md-8">
                                <select2 v-bind:options="timezones" v-model="newUser.Timezone" v-bind:place-holder="'Timezone'"></select2>
                                <span class="form-group__message" v-if="$v.newUser.Timezone.$error && !$v.newUser.Timezone.required">Timezone is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal" v-on:click="cancelCreateNewUser()">Cancel</button>
                    <button class="btn btn-primary pull-right margin-r-5" v-on:click="createNewUser()">Save User</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/plugins/select2.js"></script>
    <script src="~/Areas/Admin/Scripts/pages/user.js"></script>

    <script>
        $(document).ready(function () {
            userManager({
                rootDir: '@Url.Content("~/Admin/")',
                users: JSON.parse('@Model.Users.ToJSON()'),
                timezones: JSON.parse('@Model.TimeZoneList.ToJSON()')
            });
        })
    </script>
}
