﻿@model Naztec.Web.ViewModels.ForgotPasswordVM

<div class="login-box">
    <div class="login-logo">
        <b>Naztec</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"> Forgot password</p>

        @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { @class = "smart-form client-form", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
              
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-Email form-control", @placeholder = "Enter your Email", @id = "form-Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-envelope"></i> &nbsp;
                        Submit
                    </button>
                </div>
                <div class="form-group has-feedback">
                    <a href="@Url.Action("login", "auth")"><i class="fa fa-smile-o"></i> I remembered my password!</a>
                </div>
                
        }
    </div>
</div>
