﻿
@{
    ViewBag.Title = "ForgotPasswordSuccess";
}

<div class="login-box">
    <div class="login-logo">
        <b>Naztec</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h4>A new password is sent to your email. Kindly check your email.</h4>
        <br />
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <a href="~/Auth/Login" class="btn btn-primary">Click here for Login</a>
            </div>
        </div>
    </div>
</div>


