@model Naztec.Web.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
}

<div class="login-box">
    <div class="login-logo">
        <b>Naztec</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        @using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Login.UserName, new { @class = "form-username form-control", @placeholder = "Username", @id = "form-username" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Login.UserName)
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Login.Password, new { @class = "form-username form-control", @placeholder = "Password", @id = "form-password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Login.Password)
            </div>
            <div class="row">
                <div class="col-xs-8">
                    @*<div class="checkbox icheck">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>*@
                    <a href="@Url.Action("ForgotPassword", "Auth")"><i class="fa fa-frown-o"></i> I forgot my password</a><br>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </div>
            @Html.ValidationSummary(true, string.Empty, new { @class = "bg-danger", @id = "login-validation-summary" })
        }

        @*<a href="#" class="text-center">Register a new membership</a>*@

    </div>
    <!-- /.login-box-body -->
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
        });

    </script>
}

