﻿
@model Naztec.Web.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "ResetPassword";
}


@using (Html.BeginForm("ResetPassword", "Auth", new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="login-box">
        <div class="login-logo">
            <b>Naztec</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <p class="login-box-msg"> Reset your password</p>
                        <hr />
                        @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.Code)

                        @Html.HiddenFor(model => model.UserName)

                        <div class="form-group">
                           
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your Email" })
                            </div>
                        </div>
                        <div class="form-group">
                           
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter your assword" })
                            </div>
                        </div>
                        <div class="form-group">
                           
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter confirm password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="right">
                                <input type="submit" class="btn btn-primary" value="Reset" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



