<div class="login-box">
    <div class="login-logo">
        <b>Naztec</b>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Your session has expired. Please login to proceed.</p>
        <a href="@Url.Action("Login", "Auth")" class="btn btn-block btn-primary">Go to Login</a>
    </div>
</div>
