﻿@model Naztec.Web.ViewModels.ProfileVM
@{
    ViewBag.Title = "My Profile";
}

@section PageHeader{
    <section class="content-header">
        <h1>
            Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Profile</li>
        </ol>
    </section>
}

@Styles.Render("~/Content/croppie/croppiecss")


<div id="profileApp" v-cloak>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="box box-primary">
                <div class="box-body box-profile ecb-profile">
                    <div class="ecb-profile-image-wrapper">

                        <img class="img-responsive img-circle ecb-profile-image" v-bind:src="profileImageUrl" alt="User profile picture">
                        <div class="ecb-profile-image-edit img-responsive img-circle" v-on:click="changeProfileImage" title="Change Profile Picture">
                            <i class="fa fa-2x fa-pencil"></i>
                        </div>
                    </div>
                    <h3 class="profile-username text-center">{{ profile.FirstName + ' ' + profile.LastName}}</h3>

                    <p class="text-bold text-center">{{ roles }}</p>
                    <p class="text-muted text-center">{{ profile.PhoneNumber }}</p>
                </div>
            </div>
            <div class="box box-primary collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Change Password</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display:none;">
                    <p>Update your old password with a new one.</p>
                    <form class="form-horizontal">
                        <div class="form-group" v-bind:class="{'form-group--error': $v.changepassword.OldPassword.$error}">
                            <div class="col-lg-9 col-lg-offset-3">
                                <input class="form-control" type="password" v-model.trim="changepassword.OldPassword"
                                       placeholder="Old Password" v-on:input="$v.changepassword.OldPassword.$touch()" />
                                <span class="form-group__message" v-if="$v.changepassword.OldPassword.$error && !$v.changepassword.OldPassword.required">Old Password is required</span>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{'form-group--error': $v.changepassword.Password.$error}">
                            <div class="col-lg-9 col-lg-offset-3">
                                <input class="form-control" type="password" value="" v-model="changepassword.Password" placeholder="New Password"
                                       v-on:input="$v.changepassword.Password.$touch()" />
                                <span class="form-group__message" v-if="$v.changepassword.Password.$error && !$v.changepassword.Password.required">Password is required</span>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{'form-group--error': $v.changepassword.ConfirmPassword.$error}">
                            <div class="col-lg-9 col-lg-offset-3">
                                <input class="form-control" type="password" value="" v-model="changepassword.ConfirmPassword" placeholder="Confirm Password" v-on:input="$v.changepassword.ConfirmPassword.$touch()" />
                                <span class="form-group__message" v-if="$v.changepassword.ConfirmPassword.$error && !$v.changepassword.ConfirmPassword.required">Confirm Password is required</span>
                                <span class="form-group__message" v-if="!$v.changepassword.ConfirmPassword.sameAsPassword">Passwords must be identical.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button class="btn btn-primary btn-sm" v-on:click.prevent="changePassword()"><i class="fa fa-save"></i>&nbsp; Update Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                    <li><a href="#skins" data-toggle="tab">Skins</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <div class="callout callout-info">Update this area with your business related activity filtered by the logged in person.</div>
                    </div>
                    <div class="tab-pane" id="skins">
                        <p>Select a skin to apply.</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled clerfix">
                                    <li style="float:left; width: 33.33333%; padding: 20px;" v-for="skin in skins">
                                        <a href="javascript:void(0);" v-on:click="selectTheme(skin.className)" @*data-skin="{{skin.className}}"*@ style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                            <div>
                                                <span style="display:block; width: 20%; float: left; height: 14px;" v-bind:style="{ background: skin.logoBg }"></span>
                                                <span style="display:block; width: 80%; float: left; height: 14px;" v-bind:style="{ background: skin.headerBg }"></span>
                                            </div>
                                            <div>
                                                <span style="display:block; width: 20%; float: left; height: 60px;" v-bind:style="{ background: skin.menuBg }"></span>
                                                <span style="display:block; width: 80%; float: left; height: 60px;" v-bind:style="{ background: skin.contentBg }"></span>
                                            </div>
                                        </a>
                                        <p class="text-center margin-top-10 text-bold">{{skin.name}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings">
                        <div class="row">
                            <div class="col-xs-12 col-lg-9">
                                <p>Update profile information.</p>
                                <form class="form-horizontal">
                                    <div class="form-group" v-bind:class="{'form-group--error': $v.profile.FirstName.$error}">
                                        <label class="col-md-4 control-label form__label">First Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form__input" v-model.trim="profile.FirstName" v-on:input="$v.profile.FirstName.$touch()" />
                                            <span class="form-group__message" v-if="!$v.profile.FirstName.required">First Name is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" v-bind:class="{'form-group--error': $v.profile.LastName.$error}">
                                        <label class="col-md-4 control-label form__label">Last Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form__input" v-model.trim="profile.LastName" v-on:input="$v.profile.LastName.$touch()" />
                                            <span class="form-group__message" v-if="!$v.profile.LastName.required">Last Name is required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" v-bind:class="{'form-group--error': $v.profile.PhoneNumber.$error}">
                                        <label class="col-md-4 control-label form__label">Phone Number</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form__input" v-model.trim="profile.PhoneNumber" v-on:input="$v.profile.PhoneNumber.$touch()" />
                                            <span class="form-group__message" v-if="!$v.profile.PhoneNumber.numeric">Only numbers allowed</span>
                                            <span class="form-group__message" v-if="!$v.profile.PhoneNumber.minLength">Minimum length is 10</span>
                                            <span class="form-group__message" v-if="!$v.profile.PhoneNumber.maxLength">Maximum length is 10</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button class="btn btn-primary btn-sm" v-on:click.prevent="saveProfile()"><i class="fa fa-save"></i>&nbsp; Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadPictureModal" role="dialog">
    <div class="modal-dialog ecb-fs-modal">
        <div class="ecb-fs-modal-closer" data-dismiss="modal">
            <i class="fa fa-close fa-3x"></i>
            <span>esc</span>
        </div>
        <div class="ecb-fs-modal-content-container">
            <div class="ecb-fs-modal-content">
                <h2>Change Profile Picture</h2>
                <div class="row">
                    <div class="col col-xs-12">
                        <div id="changeImage" class="ecb-profile-content">
                            <div id="upload-demo"></div>
                            <input type="hidden" id="imagebase64" name="imagebase64">
                            <input type="file" id="upload" value="Choose a file" accept="image/*" style="margin-left:300px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-md btn-default pull-right" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-md btn-success pull-right margin-right-10 upload-result">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    @Scripts.Render("~/bundles/croppie");

    <script src="@Url.Content("~/scripts/pages/profile.js").StampVersion()" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            profileManager({
                rootDir: '@Url.Content("~/")',
                profile: JSON.parse('@Model.Profile.ToJSON()'),
                roles: '@Model.GetRoles()',
                changepassword: JSON.parse('@Model.ChangePassword.ToJSON()'),
                imageUrl: '@Model.Profile.ProfileImageUrl.ToString()'
            });
        });
    </script>
}
