﻿@model Int32

<div id="scriptGenerator">
    <div style="position: absolute; bottom: 50px; right: 25px;">
        <button class="btn btn-primary pull-right" title="Scripts" v-on:click="show()"><i class="fa fa-gears"></i> &nbsp; Script Manager</button>
    </div>
    <div class="modal fade" id="scriptModal">
        <div class="modal-dialog" style="width: 70vw;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">{{ moduleName }} - Scripts</h4>
                </div>
                <div class="modal-body">
                    <div class="nav-tabs-custom" style="margin-bottom: 0px !important;">
                        <ul class="nav nav-tabs">
                            <li class="active" v-if="modes.sql"><a href="#sqlPane" data-toggle="tab">SQL</a></li>
                            <li v-if="modes.csharp"><a href="#csharpPane" data-toggle="tab">C#</a></li>
                            <li v-if="modes.js"><a href="#jsPane" data-toggle="tab">JS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="sqlPane" role="tabpanel" v-if="modes.sql">
                                <div>
                                    <button class="btn btn-primary" v-on:click="generateSQL()"><i class="fa fa-database"></i>&nbsp; Generate SQL</button>
                                    <button class="btn btn-primary" v-on:click="copySQL()"><i class="fa fa-copy"></i>&nbsp; Copy</button>
                                    <a href="@Url.Action("DownloadSQL", "Script", new { moduleId = @Model })">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-download"></i>&nbsp; Download
                                        </button>
                                    </a>
                                </div>
                                <textarea class="form-control ecb-code-window" rows="20" v-model="sqlData" id="sqlTextArea"></textarea>
                            </div>
                            <div class="tab-pane" id="csharpPane" role="tabpanel" v-if="modes.csharp">
                                <div>
                                    <button class="btn btn-primary" v-on:click="generateCSharp()"><i class="fa fa-hashtag"></i>&nbsp; Generate C#</button>
                                    <button class="btn btn-primary" v-on:click="copyCSharp()"><i class="fa fa-copy"></i>&nbsp; Copy</button>
                                    <a href="@Url.Action("DownloadCSharp", "Script", new { moduleId = @Model })">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-download"></i>&nbsp; Download
                                        </button>
                                    </a>
                                </div>
                                <textarea class="form-control ecb-code-window" rows="20" v-model="csharpData"  id="csharpTextArea"></textarea>
                            </div>
                            <div class="tab-pane" id="jsPane" role="tabpanel" v-if="modes.js">
                                <div>
                                    <button class="btn btn-primary" v-on:click="generateJS()"><i class="fa fa-sticky-note-o"></i>&nbsp; Generate JS</button>
                                    <button class="btn btn-primary" v-on:click="copyJS()"><i class="fa fa-copy"></i>&nbsp; Copy</button>
                                    <a href="@Url.Action("DownloadJS", "Script", new { moduleId = @Model })">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-download"></i>&nbsp; Download
                                        </button>
                                    </a>
                                </div>
                                <textarea class="form-control ecb-code-window" rows="20" v-model="jsData"  id="jsTextArea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
