﻿@model Naztec.Web.ViewModels.Notifications.NotificationsVM
@{
    ViewBag.Title = "Notifications";
}

@section PageHeader{
    <section class="content-header">
        <h1>
            Notifications
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Notifications</li>
        </ol>
    </section>
}
