﻿@model Naztec.Web.Areas.Inventory.ViewModels.InventoryManageVM

@{
    ViewBag.Title = "Inventory Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />
<link href="~/Content/datatables/datatables.boostrap.min.css" rel="stylesheet" />

@section PageHeader{
    <section class="content-header">
        <h1>
            Inventory Manager
            <small>Logs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Inventory</li>
            <li class="active">Log</li>
        </ol>
    </section>
}

<div class="box box-body">
    <table id="inventorytable" class="table table-bordered table-hover dataTable"></table>
</div>

@section scripts{
    <script src="~/Areas/Inventory/Scripts/pages/inventory.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            inventoryManager({
                rootDir: '@Url.Content("~/Inventory/")',
                data: JSON.parse('@Model.Data.ToJSON()')
            });
        })

    </script>
}


