﻿@model Naztec.Web.Areas.Admin.ViewModels.Log.LogManageVM

@{
    ViewBag.Title = "Log Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />
<link href="~/Content/datatables/datatables.boostrap.min.css" rel="stylesheet" />

@section PageHeader{
    <section class="content-header">
        <h1>
            Log Manager
            <small>System Logs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">Log</li>
        </ol>
    </section>
}
<p>You are seeing the logs of the past 7 days.</p>
<div class="box box-body">
    <table id="logtable" class="table table-bordered table-hover dataTable"></table>
</div>

@section scripts{
    <script src="~/Areas/Admin/Scripts/pages/log.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            logManager({
                rootDir: '@Url.Content("~/Admin/")',
                logs: JSON.parse('@Model.Logs.ToJSON()')
            });
        })

    </script>
}


