﻿@model Naztec.Web.Areas.Admin.ViewModels.List.ListManageVM

@{
    ViewBag.Title = "List Manager";
}

<link href="~/Areas/Admin/Content/admin.css" rel="stylesheet" />

@section PageHeader{
    <section class="content-header">
        <h1>
            List Manager
            <small>System Lists</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Admin</li>
            <li class="active">List</li>
        </ol>
    </section>
}

<div id="listManagerApp" v-cloak>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border bg-info">
                    <h3 class="box-title padding-xs-top text-bold">Lists</h3>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" v-on:click="showNewListModal"><i class="fa fa-plus"></i> &nbsp; New List</button>
                    </div>
                </div>
                <div class="box-body" style="min-height: 70vh;">
                    <input type="search" class="form-control" placeholder="Search through List Title" v-model="searchCriteria" />
                    <div class="margin-top-10">
                        <div class="ecb-list" v-for="list in sortedLists"
                             v-on:click="selectList(list)"
                             v-bind:class="{ selected: amISelected(list) }">
                            {{ list.MasterName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">
            <list-component v-bind:list="selectedList" v-bind:list-items="selectedListItems" ref="listcomponent"></list-component>
        </div>
    </div>

    <div class="modal fade" id="newListModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">New List</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col col-xs-12">
                                <input type="text" class="form-control" autofocus placeholder="Enter List Name" v-model="newMasterName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-primary margin-r-5" v-on:click="createList()">Create List</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="list-template">
    <div class="box box-primary" v-bind:class="{ hidden: !showListEditorComponent }">
        <div class="box-header bg-info with-border">
            <div v-show="!listMasterUnderEdit">
                <h3 class="box-title padding-xs-top text-bold">{{ list.MasterName }}</h3>
                <div class="dropdown ecb-action-dropdown lg-action pull-right">
                    <button class="dropdown-toggle ecb-action-dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li v-on:click="showListIds">Show Ids</li>
                        <li v-on:click="editListMaster">Edit List Title</li>
                        <li v-on:click="showDeleteListMaster">Delete List</li>
                    </ul>
                </div>
            </div>
            <div v-show="listMasterUnderEdit" style="display: flex;">
                <input type="text" class="form-control margin-lr-5" v-model="list.MasterName" />
                <button class="btn btn-primary btn-sm margin-lr-5" v-on:click="updateListMaster(list.Id,list.MasterName)"><i class="fa fa-save"></i> &nbsp;Save</button>
                <button class="btn btn-default btn-sm margin-lr-5" v-on:click="cancelEditMaster()"><i class="fa fa-close"></i> &nbsp;Cancel</button>
            </div>
            <div class="modal fade" id="deleteListMasterModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <input type="hidden" v-model="listMasterIdForDelete">
                            <h4 class="modal-title">List Master</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col col-xs-12">
                                        Are you sure you want to delete selected item?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary pull-right margin-r-5" v-on:click="deleteListMaster">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body" style="min-height: 70vh;">
            <div>
                <input type="search" class="form-control" placeholder="Search through Descriptions" v-model="searchCriteria" />

                <div class="ecb-list-item header bg-gray-light text-bold">
                    <div class="ecb-list-item-order">#</div>
                    <div class="ecb-list-item-code">Code</div>
                    <div class="ecb-list-item-desc">Description</div>
                    <div class="ecb-list-item-controls"></div>
                </div>

                <div class="ecb-list-item" v-for="(item, index) in filteredListItems" v-bind:key="item.id">
                    <div class="ecb-list-item-order">
                        {{ index + 1 }}
                    </div>

                    <div class="ecb-list-item-code" v-if="!itemUnderEdit(item)" v-on:click="editListDetail(item)">
                        {{ item.Code }}
                    </div>
                    <div class="ecb-list-item-code margin-right-10" v-else>
                        <input type="text" class="form-control" v-model="item.Code" placeholder="Code (20 Characters)" autofocus />
                    </div>

                    <div class="ecb-list-item-desc" v-if="!itemUnderEdit(item)" v-on:click="editListDetail(item)">
                        {{ item.Description }}
                    </div>
                    <div class="ecb-list-item-desc margin-right-10" v-else>
                        <input type="text" class="form-control" v-model="item.Description" placeholder="Description (256 Characters)" />
                    </div>

                    <div class="ecb-list-item-controls" v-if="!itemUnderEdit(item)">
                        <div class="dropdown ecb-action-dropdown sm-action pull-right">
                            <button class="dropdown-toggle ecb-action-dropdown-button " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li v-on:click="editListDetail(item)">Edit Item</li>
                                <li v-on:click="showDeleteListDetail(item)">Delete Item</li>
                            </ul>
                        </div>
                    </div>
                    <div v-else>
                        <button class="btn btn-primary btn-sm margin-lr-5" v-on:click="updateListDetail(item)"><i class="fa fa-save"></i> &nbsp;Save</button>
                        <button class="btn btn-default btn-sm margin-lr-5" v-on:click="cancelEditListDetail(item)"><i class="fa fa-close"></i> &nbsp;Cancel</button>
                    </div>

                    <div class="modal fade" id="deleteListDetailsModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <input type="hidden" v-model="listDetailIdForDelete">
                                    <h4 class="modal-title">List Detail</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col col-xs-12">
                                                Are you sure you want to delete this detail item?
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary pull-right margin-r-5" v-on:click="deleteListDetail(item.Id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="displayIdsModal">
                        <div class="modal-dialog" style="width: 70vw;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <input type="hidden" v-model="listDetailIdForDelete">
                                    <h4 class="modal-title">List Identifiers</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col col-xs-12">
                                                <table class="table table-condensed">
                                                    <tbody>
                                                        <tr>
                                                            <th style="width: 10px">#</th>
                                                            <th style="width: 30%">List Title</th>
                                                            <th>List Identifier</th>
                                                            <th style="width: 40px"></th>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{list.MasterName}}</td>
                                                            <td>
                                                                <input type="text" readonly="readonly" v-bind:value="list.Id" class="form-control" v-bind:id="list.Id" />

                                                            </td>
                                                            <td><button class="btn btn-primary" v-on:click="copyId(list.Id)"><i class="fa fa-fw fa-copy"></i></button></td>
                                                        </tr> 
                                                        <tr>
                                                            <th style="width: 10px">#</th>
                                                            <th style="width: 30%">Item Description</th>
                                                            <th>Item Identifier</th>
                                                            <th style="width: 40px"></th>
                                                        </tr>
                                                        <tr v-for="(item, index) in listItems">
                                                            <td>{{index + 1}}</td>
                                                            <td>{{item.Description}}</td>
                                                            <td>
                                                                <input type="text" readonly="readonly" v-bind:value="item.Id" class="form-control" v-bind:id="item.Id" />
                                                                
                                                            </td>
                                                            <td><button class="btn btn-primary" v-on:click="copyId(item.Id)"><i class="fa fa-fw fa-copy"></i></button></td>
                                                        </tr>                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <div v-show="!itemUnderCreation">
                    <button class="btn btn-primary btn-xs pull-right margin-10" v-on:click="itemUnderCreation = true"><i class="fa fa-plus"></i>&nbsp; New Item</button>
                </div>
                <div v-show="itemUnderCreation">
                    <div class="ecb-list-item">
                        <div class="ecb-list-item-order">*</div>
                        <div class="ecb-list-item-code margin-right-10">
                            <input type="text" class="form-control" v-model="newListDetail.Code" placeholder="Code (20 Characters)" autofocus />
                        </div>
                        <div class="ecb-list-item-desc margin-right-10">
                            <input type="text" class="form-control" v-model="newListDetail.Description" placeholder="Description (256 Characters)" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm margin-lr-5" v-on:click="saveListDetail()"><i class="fa fa-save"></i> &nbsp;Save</button>
                            <button class="btn btn-default btn-sm margin-lr-5" v-on:click="cancelNewlistDetails()"><i class="fa fa-close"></i> &nbsp;Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

@{ Html.RenderPartial("_ScriptGen", 1); }

@section scripts{
    <script src="~/Areas/Admin/Scripts/components/scriptGenerator.js"></script>
    <script src="~/Areas/Admin/Scripts/pages/list.js"></script>
    <script>
        $(document).ready(function () {
            scriptGenerator({
                rootDir: '@Url.Content("~/Admin/")',
                moduleName: 'List Manager',
                moduleId: 1,
                modes: { sql: true, csharp: false, js: false }
            });
            listManager({
                rootDir: '@Url.Content("~/Admin/")',
                lists: JSON.parse('@Model.ListMasters.ToJSON()')
            });
        })

    </script>
}
