﻿/*

    TOS
    ===========
    1. Structural
    2. Navigation
    2a. Buttons    
    3. ECBase Ribbons
    4. ECBase Full Screen Modals

*/

/*#region:  Structural */

body {
    margin: 0;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

    body.modal-open, .modal-open .navbar-fixed-top {
        margin-right: 0px;
    }

.ecb-logo {
    padding-top: 30px;
}


.ecb-textarea {
    padding: 5px 10px;
    font-size: 1.4em;
    width: 100%;
}

    .ecb-textarea:hover {
        border: 1px solid #cccccc;
        transition-delay: 100ms;
    }

    .ecb-textarea:active {
        border: 1px solid #2a4184;
    }

.margin-5 {
    margin: 5px !important;
}

.margin-10 {
    margin: 10px !important;
}

.margin-15 {
    margin: 15px !important;
}


.margin-top-10 {
    margin-top: 10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.padding-xs {
    padding: 5px !important;
}

.padding-xs-top {
    padding-top: 5px !important;
}

.padding-sm-top {
    padding-top: 10px !important;
}

.padding-md-top {
    padding-top: 15px !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}


[v-cloak] {
    display: none;
}

/*#endregion */

/*#region:  Navigation */

.navbar {
    background-color: #2a4184;
    color: #fff;
    border-bottom: none;
}

.navbar-brand {
    padding: 2px 3px;
}

.navbar a {
    color: #fff;
}

.ecb-nav-links {
    display: flex;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    float: none;
    border-bottom: 1px solid #ececec;
    padding: 0;
    margin: 0;
}

    .ecb-nav-links li:first-child {
        margin-left: auto;
    }

    .ecb-nav-links li:last-child {
        margin-right: auto;
    }

    .ecb-nav-links li {
        display: flex;
    }

        .ecb-nav-links li a:hover {
            border-bottom: 2px solid #2a4184;
        }

        .ecb-nav-links li.active a, .ecb-nav-links li.active a:hover {
            border-bottom: 2px solid #2a4184;
        }

        .ecb-nav-links li a {
            padding: 5px 15px 5px;
            font-size: 1.2em;
            border-bottom: 2px solid transparent;
            white-space: nowrap;
            text-decoration: none;
        }

.ecb-tab-content {
    padding-bottom: 100px;
}

.modal-open {
    overflow: hidden;
}

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }

/*#endregion */

/*#region ECBase BUTTON STYLES */

.btn.btn-success, .btn.btn-new, .btn.btn-create, .btn.comment-btn, .btn.btn-save, .btn-default, .btn-warning, .btn.btn-primary {
    -webkit-box-shadow: inset 0px -1px 2px 0px rgba(122, 122, 122, 0.75), inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0px -1px 2px 0px rgba(122, 122, 122, 0.75), inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0px -1px 2px 0px rgba(122, 122, 122, 0.75), inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
}

.btn-default {
    background-color: #e6e6e6;
    -webkit-box-shadow: 0px 2px rgba(122, 122, 122, 0.75);
    -moz-box-shadow: 0px 2px rgba(122, 122, 122, 0.75);
    box-shadow: 0px 2px rgba(122, 122, 122, 0.75);
    outline: none;
    border: none;
    border-radius: 6px;
}

    .btn-default:hover {
        background-color: #d0cfcf;
    }

    .btn-default:active {
        background-color: #d0cfcf;
        box-shadow: 0px 2px rgba(153, 153, 153, .75);
        transform: translateY(2px);
        outline: none;
    }

        .btn-default:focus, .btn-default:active:focus {
            outline: none;
        }

.btn.btn-success, .btn.btn-new, .btn.btn-create, .btn.comment-btn, .btn.btn-save {
    background-color: #69b578;
    color: #fff;
    -webkit-box-shadow: 0px 2px rgb(97, 134, 97);
    -moz-box-shadow: 0px 2px rgb(97, 134, 97);
    box-shadow: 0px 2px rgb(97, 134, 97);
    outline: none;
    border: none;
    border-radius: 6px;
}

    .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-new:hover, .btn.btn-new:focus, .btn.btn-create:hover, .btn.comment-btn:hover, .btn.btn-create:focus, .btn.comment-btn:focus, .btn.btn-save:hover, .btn.btn-save:focus {
        background-color: #78ca88;
        color: #fff;
    }

    .btn.btn-success:active, .btn.btn-new:active, .btn.btn-create:active, .btn.comment-btn:active, .btn.btn-save:active {
        background-color: #78ca88;
        color: #fff;
        -webkit-box-shadow: 0px 2px rgba(153, 153, 153, .75);
        -moz-box-shadow: 0px 2px rgba(153, 153, 153, .75);
        box-shadow: 0px 2px rgba(153, 153, 153, .75);
        transform: translateY(2px);
        outline: none;
    }

.btn.btn-primary {
    background-color: #2ea8e5;
    color: #fff;
    -webkit-box-shadow: 0px 2px rgb(51, 122, 183);
    -moz-box-shadow: 0px 2px rgb(51, 122, 183);
    box-shadow: 0px 2px rgb(51, 122, 183);
    outline: none;
    border: none;
    border-radius: 6px;
}

    .btn.btn-primary:hover {
        background-color: #1a97d5;
    }

    .btn.btn-primary:active {
        background-color: #1a97d5;
        -webkit-box-shadow: 0px 2px rgb(51, 122, 183);
        -moz-box-shadow: 0px 2px rgb(51, 122, 183);
        box-shadow: 0px 2px rgb(51, 122, 183);
        transform: translateY(2px);
        outline: none;
    }

.btn.btn-warning {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgba(243, 198, 119, 1);
    color: #fff;
    -webkit-box-shadow: 0px 2px rgba(210, 170, 102, .75);
    -moz-box-shadow: 0px 2px rgba(210, 170, 102, .75);
    box-shadow: 0px 2px rgba(210, 170, 102, .75);
}

    .btn.btn-warning:hover {
        background-color: rgb(243, 214, 165);
    }

    .btn.btn-warning:active {
        background-color: rgb(243, 214, 165);
        -webkit-box-shadow: 0px 2px rgba(153, 153, 153, .75);
        -moz-box-shadow: 0px 2px rgba(153, 153, 153, .75);
        box-shadow: 0px 2px rgba(153, 153, 153, .75);
        transform: translateY(2px);
        outline: none;
    }

.btn.btn-delete {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #d9534f;
    color: #fff;
    -webkit-box-shadow: 0px 2px #d43f3a;
    -moz-box-shadow: 0px 2px #d43f3a;
    box-shadow: 0px 2px #d43f3a;
}

    .btn.btn-delete:hover {
        background-color: #c9302c;
    }

    .btn.btn-delete:active {
        background-color: #d9534f;
        -webkit-box-shadow: 0px 2px #d43f3a;
        -moz-box-shadow: 0px 2px #d43f3a;
        box-shadow: 0px 2px #d43f3a;
        transform: translateY(2px);
        outline: none;
    }

.btn.btn-plain {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #438dd0;
}

    .btn.btn-plain:active {
        transform: translateY(2px);
        outline: none;
    }



/*#endregion */

/* #region ECBase Ribbons */

.ecb-list-entity-ribbon {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

    .ecb-list-entity-ribbon:hover {
        background-color: #FAFAFA;
    }

    .ecb-list-entity-ribbon + .ecb-list-entity-ribbon {
        border-top: none !important;
    }

    .ecb-list-entity-ribbon .ecb-list-entity-title {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 1.6em;
        font-weight: 500;
    }

    .ecb-list-entity-ribbon .ecb-list-entity-subtitle {
        font-size: 1.0em;
        padding-top: 18px;
        padding-left: 10px;
    }

.ecb-list-entity-container {
    display: flex;
    position: relative;
}

.ecb-list-entity-marker {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

.ecb-list-entity-main {
    flex: 1;
    position: relative;
}

.has-entity-marker .ecb-list-entity-main {
    padding-left: 50px;
}

.ecb-list-entity-user-image {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    position: absolute;
    left: 0;
}

.ecb-list-entity-meta {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

    .ecb-list-entity-meta .dropdown > button {
        background: none;
    }

.ecb-list-entity-options {
    cursor: pointer;
    font-size: 1.3em;
    color: #777;
}

    .ecb-list-entity-options:hover {
        background: #ffffff;
        border: 1px solid #ececec;
    }


.ecb-list-entity-meta .dropdown {
    margin-top: 6px;
}

.ecb-list-entity-meta .dropdown-menu {
    padding: 0;
}

    .ecb-list-entity-meta .dropdown-menu li {
        padding: 3px 8px;
        cursor: pointer;
        border-bottom: 1px solid #e5e5e5;
    }

        .ecb-list-entity-meta .dropdown-menu li:last-child {
            border-bottom: none;
        }

        .ecb-list-entity-meta .dropdown-menu li:hover {
            color: #262626;
            background-color: #f5f5f5;
        }

/* #endregion */


/* #region EC BASE FULL SCREEN MODAL STYLES */

.ecb-fs-modal.modal-dialog {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1032;
}

.ecb-fs-modal-closer {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1033;
    color: #777777;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 3px;
}

    .ecb-fs-modal-closer:hover {
        background-color: #438dd0;
        color: #fff;
    }

.ecb-fs-modal-content-container {
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ecb-fs-modal-content {
    width: 900px;
    max-width: 100%;
    margin-top: 50px;
}

    .ecb-fs-modal-content h2 {
        font-family: 'Lato', sans-serif;
        margin-bottom: 5px;
        border-bottom: 2px solid #999;
    }


/**/

/*#region:  Media Queries */

@media only screen and (min-width: 1200px) {
    .container {
        width: 950px;
    }

        .container.container-narrow {
            width: 600px;
            margin-top: 40px;
        }
}

@media only screen and (max-width: 767px) {
    .ecb-list-entity-main {
        flex-direction: column;
    }
}

/*#endregion */

.ecb-boot-modal .panel {
    margin: 0;
}

.ecb-fa-9x{
    font-size: 9em;
}
