﻿/* #region ECB TextArea */

.ecb-textarea {
    padding: 5px 10px;
    width: 100%;
}

    .ecb-textarea:hover {
        border: 1px solid #cccccc;
        transition-delay: 100ms;
    }

    .ecb-textarea:active {
        border: 1px solid #2a4184;
    }

.ecb-code-window {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #100f0f;
    color: aqua;
    font-family: Consolas;
    font-size: 1.2em;
    line-height: 22px;
}

/* #endregion ECB TextArea */

/* #region ECB BootStrap Dropdowns */

.ecb-action-dropdown {
}

    .ecb-action-dropdown.lg-action > .ecb-action-dropdown-button {
        background: none;
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
    }

        .ecb-action-dropdown.lg-action > .ecb-action-dropdown-button:hover {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 15px;
        }

        .ecb-action-dropdown.lg-action > .ecb-action-dropdown-button > .glyphicon-option-vertical {
            font-size: 18px;
        }

    .ecb-action-dropdown.sm-action > .ecb-action-dropdown-button {
        background: none;
        width: 24px;
        height: 24px;
        border: 1px solid transparent;
    }

        .ecb-action-dropdown.sm-action > .ecb-action-dropdown-button:hover {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 12px;
        }

        .ecb-action-dropdown.sm-action > .ecb-action-dropdown-button > .glyphicon-option-vertical {
            font-size: 12px;
        }

    .ecb-action-dropdown > ul.dropdown-menu {
        padding: 0;
        border: 1px solid #CCC;
        border-radius: 0;
    }

        .ecb-action-dropdown > ul.dropdown-menu li {
            padding: 4px 10px;
            cursor: pointer;
            border-bottom: 1px solid #e5e5e5;
        }

            .ecb-action-dropdown > ul.dropdown-menu li:last-child {
                border-bottom: none;
            }

            .ecb-action-dropdown > ul.dropdown-menu li:hover {
                color: #262626;
                background-color: #f5f5f5;
            }

/* #endregion ECB BootStrap Dropdowns */

/* #region ECB Ribbons */

.ecb-list-entity-ribbon {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

    .ecb-list-entity-ribbon:hover {
        background-color: #FAFAFA;
    }

    .ecb-list-entity-ribbon + .ecb-list-entity-ribbon {
        border-top: none !important;
    }

    .ecb-list-entity-ribbon .ecb-list-entity-title {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 1.6em;
        font-weight: 500;
    }

    .ecb-list-entity-ribbon .ecb-list-entity-subtitle {
        font-size: 1.0em;
        padding-top: 18px;
        padding-left: 10px;
    }

.ecb-list-entity-container {
    display: flex;
    position: relative;
}

.ecb-list-entity-marker {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

.ecb-list-entity-main {
    flex: 1;
    position: relative;
}

.has-entity-marker .ecb-list-entity-main {
    padding-left: 50px;
}

.ecb-list-entity-user-image {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    position: absolute;
    left: 0;
}

.ecb-list-entity-meta {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

    .ecb-list-entity-meta .dropdown > button {
        background: none;
    }

.ecb-list-entity-options {
    cursor: pointer;
    font-size: 1.3em;
    color: #777;
}

    .ecb-list-entity-options:hover {
        background: #ffffff;
        border: 1px solid #ececec;
    }

.ecb-list-entity-meta .dropdown {
    margin-top: 6px;
}

.ecb-list-entity-meta .dropdown-menu {
    padding: 0;
}

    .ecb-list-entity-meta .dropdown-menu li {
        padding: 3px 8px;
        cursor: pointer;
        border-bottom: 1px solid #e5e5e5;
    }

        .ecb-list-entity-meta .dropdown-menu li:last-child {
            border-bottom: none;
        }

        .ecb-list-entity-meta .dropdown-menu li:hover {
            color: #262626;
            background-color: #f5f5f5;
        }

/* #endregion */

/* #region ECB Full Screen Modal - Styles */

.ecb-fs-modal.modal-dialog {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1032;
}

.ecb-fs-modal-closer {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1033;
    color: #777777;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 3px;
}

    .ecb-fs-modal-closer:hover {
        background-color: #438dd0;
        color: #fff;
    }

.ecb-fs-modal-content-container {
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ecb-fs-modal-content {
    width: 900px;
    max-width: 100%;
    margin-top: 50px;
}

    .ecb-fs-modal-content h2 {
        margin-bottom: 5px;
    }

/* #region Modal Quirks */

.modal-open {
    overflow: hidden;
}

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }

.modal-header {
    padding: 7px 9px;
}

/* #endregion Modal Quirks */

/* #endregion */


/* ECB Profile Styles */


.ecb-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .ecb-profile .ecb-profile-banner {
        width: 100%;
        height: 160px;
        position: relative;
        padding: 10px 20px;
        color: #fff;
        /*border-radius: 6px;*/
        background: -webkit-linear-gradient(top, #438dd0, #4e5867 );
        background: -o-linear-gradient(bottom, #438dd0, #4e5867 );
        background: -moz-linear-gradient(bottom, #438dd0, #4e5867 );
        background: linear-gradient(to bottom, #438dd0, #4e5867 );
    }

    .ecb-profile .ecb-profile-image-wrapper {
        position: relative;
    }

    .ecb-profile .ecb-profile-image {
        width: 120px;
        padding: 3px;
        background-color: #fff;
    }

    .ecb-profile .ecb-profile-image-edit {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 3px;
        right: 3px;
        background-color: #fff;
        color: #438dd0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        border: 2px solid #438dd0;
        cursor: pointer;
    }

        .ecb-profile .ecb-profile-image-edit:hover {
            transform: scale(1.1);
        }

.ecb-profile-content {
    margin-left: 40px;
}


/*.ecb-profile a[aria-expanded=true] .fa-chevron-down {
            display: none;
        }

        .ecb-profile a[aria-expanded=false] .fa-chevron-up {
            display: none;
        }

        .ecb-profile a:hover > i.fa-chevron-down {
            transform: translateY(3px);
            
        }

        .ecb-profile a:hover > i.fa-chevron-up {
            transform: translateY(-3px);            
        }

        .ecb-profile .input-sm {
            border: 1px solid rgba(0,0,0,0.25);
            border-radius: 2px;
        }

    .ecb-app-icon {
        position: absolute;
        left: -65px;
        top: 0;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border: 1px solid #ececec;
    }

   



/**/
/* #region Media Queries */
@media only screen and (min-width: 1200px) {
    .container; {
        width: 950px;
    }

    .container.container-narrow {
        width: 600px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .ecb-list-entity-main {
        flex-direction: column;
    }
}

/* #endregion Media Queries */
