﻿[v-cloak] { display: none; }

.margin-5, .margin-xs { margin: 5px !important; }
.margin-10, .margin-sm { margin: 10px !important; }
.margin-15, .margin-md { margin: 15px !important; }
.margin-20, .margin-lg { margin: 15px !important; }

.margin-top-10 { margin-top: 10px !important; }
.margin-left-10 { margin-left: 10px !important; }
.margin-right-10 { margin-right: 10px !important; }

.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }

.margin-lr-5 { margin-left: 5px !important; margin-right: 5px !important; }
.margin-tb-5 { margin-top: 5px !important; margin-bottom: 5px !important; }

.padding-xs { padding: 5px !important; }
.padding-xs-top { padding-top: 5px !important; }
.padding-sm-top { padding-top: 10px !important; }
.padding-md-top { padding-top: 15px !important; }

.padding-left-0 { padding-left: 0 !important; }
.padding-right-0 { padding-right: 0 !important; }
.padding-left-10 { padding-left: 10px !important; }
.padding-right-10 { padding-right: 10px !important; }

/* BOOTSTRAP OVERRIDES */
p.form-control-static { padding-left: 13px; }

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    cursor: pointer;
}

/* VUELIDATE OVERRIDES */
.form-group--error { }
    .form-group--error .form__label { padding-left: 13px; color: #ff0000; }
    .form-group--error .form__input { border-color: #ff0000; color: #ff0000;}
    .form-group--error .form-group__message { padding-left: 13px; color: #ff0000; }
