﻿
/*******    LIST MANAGER    ********/

.ecb-list, .ecb-list-item { padding: 10px 12px; border-bottom: 1px solid #dadada; cursor: pointer; word-wrap: break-word; }

.ecb-list-item { display: flex; }

.ecb-list-item-order { flex-basis: 50px; }
.ecb-list-item-code { flex: 1; }
.ecb-list-item-desc { flex: 3; }
.ecb-list-item-controls { flex-basis: 40px; }

.ecb-list:hover, .ecb-list-item:hover { background-color: #f3f3f3; }
.ecb-list.selected, .ecb-list-item.selected { background-color: #D3D3D3; }
    .ecb-list.selected:hover, .ecb-list-item.selected:hover { background-color: #D3D3D3; }

.ecb-list-item.header { margin-top: 10px; cursor: default; }

/*******    MENU MANAGER    ********/

.ecb-menu-wrapper { margin-bottom: 10px !important; border-radius: 3px; min-height: 20px; border: 1px solid #e3e3e3; box-shadow: inset 0 1px 1px rgba(0,0,0,.05); /*padding-left: 15px !important;*/ width: auto; }
    .ecb-menu-wrapper:hover { /*transform: scale(1.01);*/ background-color: #d2d6de; }
    .ecb-menu-wrapper.selected .ecb-menu-header { background-color: #d2d6de; }
    .ecb-menu-wrapper.selected:hover { background-color: #ffffff; }

    .ecb-menu-wrapper .ecb-menu-header { font-weight: 600; cursor: pointer; }    

    /*******   SECURITY RIGHT MANAGER    ********/

    .ecb-right-wrapper { margin-bottom: 10px !important; border-radius: 3px; min-height: 20px; border: 1px solid #e3e3e3; box-shadow: inset 0 1px 1px rgba(0,0,0,.05); /*padding-left: 15px !important;*/ width: auto; }
    .ecb-right-wrapper:hover { /*transform: scale(1.01);*/ background-color: #d2d6de; }
    .ecb-right-wrapper.selected .ecb-right-header { background-color: #d2d6de; }
    .ecb-right-wrapper.selected:hover { background-color: #ffffff; }

    .ecb-right-wrapper .ecb-menu-header { font-weight: 600; cursor: pointer; }   
